<template id="notification-template">
    <div class="notification show">
        <div class="notification-header">Goal!</div>
        <div class="notification-body">Player 1 Scored a point</div>
        <div class="notification-dismiss" onclick="this.parentElement.classList.remove('show');">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m-15 0l15 15" />
            </svg>
        </div>
    </div>
</template>