.wifi-qr {
    position: relative;
}

.wifi-logo {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 45px;
    height: 45px;
    background: white;
    padding: 2px;
    border-radius: 20%;
}